<cfprocessingdirective pageencoding="utf-8">
<cfsilent>
<cfinclude template="system/gatekeeper.cfm">
<cfinclude template="system/defaults.cfm">
<cfinclude template="settings.cfm">
</cfsilent>
<cfinclude template="system/header.cfm">
<cfinclude template="bin/index.cfm">
<cfinclude template="system/footer.cfm">