
<div class="bluebox">
<pre style="height:180px; overflow-y:auto; background: #B7E6F8; border:0px; white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -o-pre-wrap;  padding:10px; margin:10px; font-family:Verdana, Geneva, sans-serif; font-size:11px">
<cfinclude template="license.txt">
</pre>

<div style="text-align:center;">
<input title="Agree & Continue" class="btn btn-inverse btn-small" type="button" value="Agree & Continue" name="submit" onclick="window.location='index.cfm?action=1'" /><br /><br />
</div>

</div>